[user]
  name = Yevgeny Kuznetsov
  email = yevgenyku@gmail.com
  signingkey = 481437397550E1055F3809858C62477EC176B760
[commit]
  gpgsign = true
[credential]
  helper = cache --timeout=3600
[core]
  autocrlf = input
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[mergetool]
  keepBackup = false
  prompt = false
[merge]
  conflictstyle = diff3
  tool = vimdiff
