[user]
  name = Yevgeny Kuznetsov
  email = yevgenyku@gmail.com
  signingkey = 39EFA16509C498C3F011F08C15B6DDB98F9138D9
[commit]
  gpgsign = true
[credential]
  helper = cache --timeout=3600
[core]
  autocrlf = input
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[mergetool]
  keepBackup = false
  prompt = false
[merge]
  conflictstyle = diff3
  tool = vimdiff
