[user]
  name = Yevgeny Kuznetsov
  email = yevgenyku@gmail.com
  signingkey = 9B3F053F924F68E895B3A909755A61972E760B05
[commit]
  gpgsign = true
[credential]
  helper = cache --timeout=3600
[core]
  autocrlf = input
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[mergetool]
  keepBackup = false
  prompt = false
[merge]
  conflictstyle = diff3
  tool = vimdiff
